.cals p{
    display: inline;
    line-height: 1.5;
}
h1 {
    color: #e8eeff;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}
legend {
    color: #bdd0ff;
    font-size: 45px;
    font-weight: 600;
}
fieldset p{
    font-size: 20px;
    font-weight: 500;
}
body {
    background-color: #1d2328;
    color: #93b2ff;
    text-shadow: 2px 2px #000000;;
    font-family: "HelveticaNeue-Light";
    letter-spacing: 1.5px;
}
fieldset {
    background-color: #2c313e;
}
.form1 {
    float: left;
    padding-right: 110px;
    padding-left: 110px;
    background-color: #333947;
}
.form2 {
    float: left;
    padding-right: 110px;
    padding-left: 110px;
    background-color: #333947;
}
.form3 {
    float: left;
    padding-right: 113px;
    padding-left: 110px;
    background-color: #333947;
}